<template>
	<page actionBarHidden="true" backgroundSpanUnderStatusBar="true">
	<ScrollView>
		<FlexboxLayout  backgroundColor="white" class="page">
        <GridLayout row="0" ref="navStatusBar" class="navStatusBar" backgroundColor="#bd2122" verticalAlignment="top" height="40"
			 width="100%" rows="auto" columns="*,auto,auto,auto">
				<Label col="0" row="0" text="Profil" class="status-title"></Label>
				<Label width="75" row="0" col="1"  @tap="$navigateTo(Homes)" class="status-title"
                        text="Retour"   horizontalAlig*nment="right" />
					</GridLayout>

			
			<StackLayout class="form" height="750">
			
				<Image class="logo" src="~/assets/images/me.jpg" />

				<StackLayout class="input-field" marginBottom="25">
					<TextField class="input" hint="Nom" keyboardType="nom" autocorrect="false" autocapitalizationType="none"
					 returnKeyType="next" fontSize="18" />
					<StackLayout class="hr-light" />
				</StackLayout>

				<StackLayout class="input-field" marginBottom="25">
					<TextField class="input" hint="Prenom" keyboardType="prenom" autocorrect="false" autocapitalizationType="none"
					 returnKeyType="next" fontSize="18" />
					<StackLayout class="hr-light" />
				</StackLayout>

                <StackLayout class="input-field" marginBottom="25">
					<TextField class="input" hint="Age" keyboardType="number" autocorrect="false" autocapitalizationType="none"
					 returnKeyType="next" fontSize="18" />
					<StackLayout class="hr-light" />
				</StackLayout>

                <StackLayout class="input-field" marginBottom="25">
					<TextField class="input" hint="Date de Naissance" keyboardType="date" autocorrect="false" autocapitalizationType="none"
					 returnKeyType="next" fontSize="18" />
					<StackLayout class="hr-light" />
				</StackLayout>

                <StackLayout class="input-field" marginBottom="25">
					<TextField class="input" hint="Sexe" keyboardType="sexe" autocorrect="false" autocapitalizationType="none"
					 returnKeyType="next" fontSize="18" />
					<StackLayout class="hr-light" />
				</StackLayout>

                <StackLayout class="input-field" marginBottom="25">
					<TextField class="input" hint="Taille" v-model="user.taille" keyboardType="number" autocorrect="false" autocapitalizationType="none"
					 returnKeyType="next" fontSize="18" />
					<StackLayout class="hr-light" />
				</StackLayout>

                <StackLayout class="input-field" marginBottom="25">
					<TextField class="input" hint="Poids" v-model="user.poids" keyboardType="number" autocorrect="false" autocapitalizationType="none"
					 returnKeyType="next" fontSize="18" />
					<StackLayout class="hr-light" />
				</StackLayout>
				<Button text="Vailder" class="rouge"/>
				<Button text="Calcul IMC" class="rouge"  @tap="calcul"/>

			</StackLayout>
			
		</FlexboxLayout>
		</ScrollView>
	</Page>
</template>

<script>
const userService = {
    register(user) {
        return Promise.resolve(user);
    },
    login(user) {
        return Promise.resolve(user);
    },
    resetPassword(email) {
        return Promise.resolve(email);
    }
};


import Home from './Home.vue'

export default {
    data() {
        return {
            Homes : Home,
            isLoggingIn: true,
            user: {
                taille: "",
                poids: ""
            }
        };
    },
    methods: {
        calcul() {
           if(this.user.taille == 0){
            alert('Erreur taille');
          }else if(this.user.poids == 0){
            alert('Erreur poids');
          }else{
            var imc = this.user.poids/(this.user.taille*this.user.taille);
			if(imc < 25){
				alert("Vous avez une corpulence normale" + " " + imc);
			}
			else if(imc > 25) {
            alert("Vous etes en surpoids" + " " + imc);
          }
          }
        },

        submit() {
            if (!this.user.email || !this.user.password) {
                this.alert(
                    "Please provide both an email address and password."
                );
                return;
            }
            if (this.isLoggingIn) {
                this.login();
            } else {
                this.register();
            }
        },

        login() {
            userService
                .login(this.user)
                .then(() => {
                    this.$navigateTo(HomePage);
                })
                .catch(() => {
                    this.alert("Unfortunately we could not find your account.");
                });
        },

        register() {
            if (this.user.password != this.user.confirmPassword) {
                this.alert("Your passwords do not match.");
                return;
            }

            userService
                .register(this.user)
                .then(() => {
                    this.alert("Your account was successfully created.");
                    this.isLoggingIn = true;
                })
                .catch(() => {
                    this.alert(
                        "Unfortunately we were unable to create your account."
                    );
                });
        },

        forgotPassword() {
            prompt({
                title: "Forgot Password",
                message:
                    "Enter the email address you used to register for APP NAME to reset your password.",
                inputType: "email",
                defaultText: "",
                okButtonText: "Ok",
                cancelButtonText: "Cancel"
            }).then(data => {
                if (data.result) {
                    userService
                        .resetPassword(data.text.trim())
                        .then(() => {
                            this.alert(
                                "Your password was successfully reset. Please check your email for instructions on choosing a new password."
                            );
                        })
                        .catch(() => {
                            this.alert(
                                "Unfortunately, an error occurred resetting your password."
                            );
                        });
                }
            });
        },

        focusPassword() {
            this.$refs.password.nativeView.focus();
        },
        focusConfirmPassword() {
            if (!this.isLoggingIn) {
                this.$refs.confirmPassword.nativeView.focus();
            }
        },

        alert(message) {
            return alert({
                title: "APP NAME",
                okButtonText: "OK",
                message: message
            });
        }
    }
};
</script>

<style>
.tabview.active {
	border-bottom-color: white;
	border-bottom-width: 3;
	margin: 0;
	height: 50;
}
.tabviewText {
	margin-top: 15;
	margin-bottom: 5;
	font-size: 13;
	color: #d8d2d2;
	horizontal-align: center;
}
.tabviewText.active {
	margin-top: 0;
	margin-bottom: 5;
	font-weight: bold;
	color: white;
	vertical-align: center;
}
.navTab {
	background-color: #bd2122;
}

.rouge{
    height: 50;
	margin: 30 5 15 5;
	border-radius: 5;
	font-size: 20;
	font-weight: 600;
    background-color: #bd2122;
    color: #fff;

}
.navTabview {
	background-color: blue;
}
.status-img {
	margin-top: 4;
	margin-right: 20;
	width: 30;
	height: 30;
}
.status-profile {
	border-width: 1;
	border-color: #ffffff;
	background-color: #f1ebeb;
	border-radius: 50%;
	margin-top: 4;
}
.status-title {
	color: white;
	font-size: 18;
	margin-left: 15;
	margin-top: 8;
	horizontal-align: left;
	vertical-align: center;
}
	.page {
		align-items: center;
		flex-direction: column;
        background-color:aliceblue;
	}

	.form {
		margin-left: 30;
		margin-right: 30;
		flex-grow: 2;
		vertical-align: middle;
	}

	.logo {
		margin-bottom: 12;
		height: 90;
		font-weight: bold;
	}

	.header {
		horizontal-align: center;
		font-size: 25;
		font-weight: 600;
		margin-bottom: 70;
		text-align: center;
		color: #D51A1A;
	}

	.input-field {
		margin-bottom: 25;
	}

	.input {
		font-size: 18;
		placeholder-color: #A8A8A8;
	}

	.input-field .input {
		font-size: 54;
	}

	.btn-primary {
		height: 50;
		margin: 30 5 15 5;
		background-color: #fff;
		border-radius: 5;
		font-size: 20;
		font-weight: 600;
	}

	.login-label {
		horizontal-align: center;
		color: #A8A8A8;
		font-size: 16;
	}

	.sign-up-label {
		margin-bottom: 20;
	}

	.bold {
		color: #000000;
	}
</style>