

<template>
    <Page class="page" actionBarHidden="true">
        <!-- <ActionBar title="Home" class="action-bar" /> -->

        <DockLayout stretchLastChild="true">
            <!-- Summary -->
            <StackLayout orientation="vertical" dock="top">
                <!-- Navigaton -->
                <GridLayout rows="auto" columns="75,*,75" class="action-bar p-20" backgroundColor="#bd2122">
                    <Image src="~/images/iconToday.png" class="action-item" row="0"
                        col="0" @tap="goToTodayPage" stretch="aspectFit"
                        width="24" horizontalAlignment="left" />
                    <Image src="~/images/iconCalendar.png" class="action-item"
                        row="0" col="1" @tap="goToCalendarPage" stretch="aspectFit"
                        width="24" horizontalAlignment="center" opacity="0.2" />
                 <Label text="Home" class="action-item" row="0"
                        col="2" @tap="goToBalancePage" stretch="aspectFit"
                        width="24" horizontalAlignment="right" opacity="0.2" value="text" /></Label>
                </GridLayout>
                <!-- /Navigation -->

                <GridLayout columns="*, *" rows="auto, auto" class="m-y-30 m-x-20">
                    <!-- Date Today -->
                    <Label :text="day" row="0" col="0" class="large" />
                    <Label :text="month + ' ' + date + ', ' + year" row="1" col="0" class="body small"
                        color="#bd2122" />
                    <!-- Spending this month -->
                    <Label text="565" row="0" col="1" class="large text-right"
                        color="#bd2122" />
                    <Label text="" row="1" col="1" class="body small text-right"
                        color="#bd2122" />
                </GridLayout>
            </StackLayout>
            <!-- /Summary -->

            <!-- Tip -->
            <StackLayout orientation="vertical" class="m-tt-30 p-y-30"
                backgroundColor="" dock="bottom">
                <GridLayout columns="80, *" rows="auto" class="m-x-20">
                    <Image src="~/images/logo.png" row="0" col="0" />
                    <Label text="L'accompagnement proche de vous, loin de votre poche"
                        row="0" col="1" class="body m-l-20" textWrap="true"
                        color="black" />
                </GridLayout>
            </StackLayout>
            <!-- /Tip -->

            <!-- Transactions -->
            <StackLayout orientation="vertical" class="m-t-30"
                backgroundColor="#2C3251">
                <!-- <ListView class="list-group" for="transaction in transactions" @itemTap="onItemTap" style="height:100%" separatorColor="transparent" backgroundColor="#2C3251" @itemLoading="onItemLoading($event)">
                    <v-template>
                        <GridLayout columns="100, *" rows="auto, auto, auto" class="m-l-20">
	                        <Label :text="'-' + transaction.amount" row="0" col="0" class="h1" color="#89D5E2" />
	                        <Label :text="transaction.date" row="1" col="0" class="body p-l-15" />
	                        <Label :text="transaction.name" row="0" col="1" class="h2 p-r-20" />
	                        <Label :text="transaction.address" row="1" col="1" class="body p-r-20" color="#C2C8E6" />
	                        <StackLayout class="hr-light m-y-20" row="2" col="1" v-if="!transaction.last"></StackLayout>
							<StackLayout class="m-y-20" row="2" col="1" v-else="transaction.last"></StackLayout>
	                    </GridLayout>
                    </v-template>
                </ListView> -->

                <RadListView ref="listView" for="transaction in transactions"
                    @itemTap="onRadItemTap" backgroundColor=grey>
                    <v-template>
                        <GridLayout columns="100, *" rows="auto, auto, auto"
                            class="p-l-20" backgroundColor="#">
                            <Label :text="'' + transaction.amount" row="0"
                                col="0" class="h1" color="#bd2122" />
                            <Label :text="transaction.date" row="1" col="0"
                                class="body p-l-15"  />
                            <Label :text="transaction.name" row="0" col="1"
                                class="h2 p-r-20" color="#bd2122" />
                            <Label :text="transaction.address" row="1" col="1"
                                class="body p-r-20" color="black" />
                                
                            <StackLayout class="hr-light m-y-20" row="2" col="1"
                                v-if="!transaction.last"></StackLayout>
                            <StackLayout class="m-y-20" row="2" col="1"
                                v-else="transaction.last"></StackLayout>
                        </GridLayout>
                    </v-template>
                </RadListView>
            </StackLayout>
            <!-- /Transactions -->



        </DockLayout>
    </Page>
</template>

<script>
    import Vue from "nativescript-vue";
    import RadListView from "nativescript-ui-listview/vue";
    Vue.use(RadListView);
    // import { isAndroid, isIOS } from "tns-core-modules/platform";
    import Home from "./Home.vue";
    import Calendar from "./Calendar";
    export default {
        created() {
			

            var currentDate = new Date();
            var day = currentDate.getDay();
            var date = currentDate.getDate();
			var year = currentDate.getFullYear();
            
            var weekdays = new Array(7);
            weekdays[0] = "Dimanche";
            weekdays[1] = "Lundi";
            weekdays[2] = "Mardi";
            weekdays[3] = "Mercredi";
            weekdays[4] = "Jeudi";
            weekdays[5] = "Vendredi";
            weekdays[6] = "Samedi";
            var dayName = weekdays[day];
            
            this.day = dayName;
            this.date = date;
			this.year = year;

            var month = new Array();
            month[0] = "Janvier";
            month[1] = "Février";
            month[2] = "Mars";
            month[3] = "Avril";
            month[4] = "Mai";
            month[5] = "Juin";
            month[6] = "Juillet";
            month[7] = "Aout";
            month[8] = "Septembre";
            month[9] = "Octobre";
            month[10] = "Novembre";
            month[11] = "December";

            var monthName = month[currentDate.getMonth()];
            this.month = monthName;
        },
        
        methods: {
            // onItemTap: function(args) {
            //     console.log("Item with index: " + args.index + " tapped");
            // },

            onRadItemTap({
                item
            }) {
                console.log(`Tapped on ${item.name}`);
            },

            // onItemLoading: function(args) {
            //   if (isIOS) {
            //     const iosCell = args.ios;
            //     iosCell.selectionStyle = UITableViewCellSelectionStyle.UITableViewCellSelectionStyleNone;
            //   }
            // },

            goToBalancePage() {
                this.$navigateTo(Home, {
                    transition: {
                        name: "fade",
                        duration: 380,
                        curve: "spring"
                    },
                    backstackVisible: false,
                    clearHistory: true
                });
            },

            goToCalendarPage() {
                this.$navigateTo(Calendar, {
                    transition: {
                        name: "fade",
                        duration: 380,
                        curve: "spring"
                    },
                    backstackVisible: false,
                    clearHistory: true
                });
            }
        },

        data() {
            return {
                transactions: [{
                        name: "Vendredi",
                        address: "Distance parcourue: 512 métres",
                        amount: "785",
                        date: "Il y a 2 jours"
                    },
                    {
                        name: "Jeudi",
                        address: "Distance parcourue: 975 métres",
                        amount: "1500",
                        date: "Il y a 1 jour"
                    },
                    {
                        name: "Mercredi",
                        address: "Distance parcourue: 361 métres",
                        amount: "555",
                        date: "Il y a 4 jours"
                    },
                    {
                        name: "Mardi",
                        address: "Distance parcourue: 1625 métres",
                        amount: "2500",
                        date: "Il y a 5 jours"
                    },
                    {
                        name: "Lundi",
                        address: "Distance parcourue: 295 métres",
                        amount: "454",
                        date: "Il y a 6 jours",
                        last: true
                    }
                ]
            };
        }
    };
</script>

<style scoped>
</style>