/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';
.fa{
  font-family: "FontAwesome", "fontawesome-webfont";
}
.ion{
  font-family: "ionicons";
}

/*
    About: 
    App Created for Nativescript Uplabs competition.
    Using Nativescript Vue, and Pro UI (Charts, Listview & Calendar)
    The app uses static data, the focus was on building the UI and interactions,
    and not on the server side integration, more of Form than Function.
    Awesome learning experience, especially with the layouts and charts integration.
    It's quiet easy to pickup with what you already know HTML, CSS and JS. I am happy with
    the results a good one for approx 12 hours of coding.
    Thanks to Team Nativescript for the awesome work, YOU GUYS ROCK! and the COMMUNITY for all the help.
    And thanks you guys/gals for reviewing my subsmission.
    Thanks UPLABS for the oppurtunity!
    Date:
    25 Nov 2018.
    Developer:
    Jamal Mohammed (jamal@icelabs.in)
    twitter @mdjamal
    App UI:
    Finance calendar and stats
    by Alex Sol (Big thanks to Alex for making this Free for Personal use)
    https://www.uplabs.com/posts/finance-calendar-and-stats 
    https://www.uplabs.com/posts/finances-interface
    Font:
    Quicksand (Bold, Regular) from nativescript vue interactive weather app tutorial
    https://www.dafont.com/quicksand.font
*/
@import '~nativescript-theme-core/css/core.dark.css';

/* App Global CSS */
.page {
    background-color: rgb(255, 255, 255);
}

.action-bar {
    background-color: red;
}

label {
    /* https://www.nativescript.org/blog/using-custom-fonts-in-a-nativescript-app */
    font-family: "Quicksand", "Quicksand-Regular", "Quicksand-Bold";
    color: white;
}

.large {
    font-size: 40;
    font-weight: bold;
    margin-bottom: 5;
    vertical-align: top;
}

.medium {
    font-size: 28;
    /* font-weight: bold; */
    margin-bottom: 5;
    vertical-align: top;
}

.small {
    font-size: 15;
    margin: 0;
    /* text-align: left;  */
}

.hr-light {
    background-color: white;
    opacity: 0.1;
}
